name: Update nvfetcher

on:
  workflow_dispatch: {}
  schedule:
    - cron: 0 3 * * *
  push:
    branches:
      - main
    paths:
      - pkgs/nvfetcher.toml

jobs:
  update-nvfetcher:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - name: Set up FlakeHub Cache
        uses: DeterminateSystems/flakehub-cache-action@91ca310d06020a14c188943f8277d38678b576e5 # v3

      - name: Run nvfetcher
        id: run-nvfetcher
        run: |
          export LANG=en_US.UTF-8
          export LC_ALL=en_US.UTF-8
          cd pkgs
          nix-shell -p nvfetcher --command 'nvfetcher -l /tmp/nvfetcher-changes --keep-old'
          {
            echo 'changes<<EOF'
            cat /tmp/nvfetcher-changes
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

      # - name: Update vendor hashes
      #   id: update-vendorhash
      #   run: |
      #     setHash () {
      #       jq --arg app "${1}" --arg hash "${2}" '.[$app] = $hash' pkgs/_sources/vendorhash.json > tmp.json
      #       mv tmp.json pkgs/_sources/vendorhash.json
      #     }

      #     declare -a APP_NAMES
      #     while read line; do
      #       APP_NAMES+=("${line%:*}")
      #     done < /tmp/nvfetcher-changes

      #     for APP_NAME in "${APP_NAMES[@]}"; do
      #       echo "Updating vendor hash for ${APP_NAME}..."
      #       setHash "${APP_NAME}" ""
      #       vendorHash=$(nix build --no-link .#${APP_NAME} 2>&1 >/dev/null | grep "got:" | cut -d':' -f2 | sed 's| ||g')

      #       if [[ -n "${vendorHash}" ]]; then
      #         setHash "${APP_NAME}" "${vendorHash}"
      #         echo "Updated ${APP_NAME} with vendorHash: ${vendorHash}"
      #       fi
      #     done

      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      - name: Create Pull Request
        id: create-pull-request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: nvfetcher/deps
          title: "chore(deps): Update packages managed by nvfetcher"
          commit-message: "chore(deps): Update packages managed by nvfetcher"
          body: |
            ## Changes:
            ${{ steps.run-nvfetcher.outputs.changes }}
          add-paths: |
            pkgs/**
          delete-branch: true
